ADMIN_TOKEN_SECRET=WEWR2309RH0239HV3W9HV03V039V34V34JABAV3RVNrenter304NRV03INV93INV93IN440zxczxczxcVNWDATOE02NIC02IadminC02KDJC02O3G0IH324CHIKO9GH0EVINDKCXasdasdNBKJXCBX0VH0S9EDEFH98ET9834HGSJDBVKSDHGI
USER_TOKEN_SECRET=WEWR2SHop309RH0239HV3W9HV03V039V3renter4V34JABAV3COMpanyINV93INasdV93IN440VNWDATOE02NIC02IC02KDJC02O3G0IH324CHIKO9GH0EVINDKCXNBKJXCBXasdasd0VH0S9EDEFH98ET9834HGSJDBVKSDHGI
APP_PORT=8523
DB_USERNAME=root
DB_PASSWORD=kali
DB_DATABASE=starter
# npm install --save @nestjs/config   